.navbar-container {
  background-color: #002147;
  color: white;
  padding: 10px 20px;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  flex: 1;
}

.navbar-logo-link {
  text-decoration: none;
}

.navbar-logo-image {
  height: 30px;
  width: 150px;
}

.navbar-search {
  margin-left: 200px;
}

.navbar-search-label {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #002147;
  border: 1px solid white;
  height: 30px;
  width: 300px;
}

.navbar-icon {
  color: white;
  opacity: 0.7;
}

.navbar-input {
  flex-grow: 1;
  color: white;
  background: transparent;
  border: none;
}

.navbar-links {
  display: flex;
  align-items: center;
  margin-right: 300px;
}

.navbar-menu {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.navbar-link {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar-submenu {
  padding: 5px;
  background: white;
  list-style: none;
  border-radius: 0 0 5px 5px;
}

.navbar-wallet {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #002147;
  border: 1px solid white;
  height: 30px;
  width: 180px;
}
